* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: none;
}

#top {
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
}

.logo {
    width: 125px;
    height: 55px;
    margin-left: 155px;
}

#log{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    margin-bottom: 5px;

}

li {
    list-style: none;
    /* margin: 20px; */
}

.orange {
    color: rgb(253, 113, 62);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}

.gray {
    text-decoration: none;
    color: rgb(93, 93, 93);
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
}

input {
    width: 280px;
    height: 45px;
    font-size: 15.8px;
    font-weight: light;
    padding: 9px 12px;
    border: none;
    border-radius: 5px;
    background: rgba(185, 183, 206, 0.153);
    margin-left: 150px;
    margin-top: 5px;
}

.chat {
    margin-left: 10px;
    width: 90px;
    height: 45px;
    border-radius: 4px;
    border: 0.5px solid rgba(128, 128, 128, 0.489);
    background: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 5px;

}

.main_m {
    /* border: 1px solid red; */
    width: 100%;
    height: 760px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* position: relative; */
    background-color: #FBF7F2;
    padding: 15px;
}

.main_m1 {
    /* border: 1px solid yellow; */
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
    margin-left: 250px;
}

.main_t {
    /* border: 1px solid violet; */
    font-size: 15px;
    margin: 0px;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin-left: 250px;
}

.main_img {
    position: absolute;
    right: 79px;
    bottom: 100px;
}

.gray:hover {
    color: rgb(152, 152, 152);
}

.orange:hover {
    color: rgb(255, 106, 0);
}

.main_mm {
    /* border: 1px solid red; */
    width: 100%;
    height: 804px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.main_img2 {
    position: absolute;
    left: 250px;
}

.main_m2 {
    /* border: 1px solid yellow; */
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
    margin-left: 550px;
}

.main_t2 {
    /* border: 1px solid violet; */
    font-size: 15.5px;
    margin: 0px;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin-left: 640px;
}

.chat1 {
    margin-left: 10px;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    background: rgba(229, 229, 229, 0.378);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.chat2 {
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    background: rgba(229, 229, 229, 0.378);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.chat1:hover {
    background: rgba(215, 215, 215, 0.421);
}

.chat2:hover {
    background: rgba(215, 215, 215, 0.421);
}

.main_b2 {
    padding-left: 650px;
    padding-top: 30px;
}

.main_mmm {
    /* border: 1px solid red; */
    width: 100%;
    height: 860px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* position: relative; */
    background-color: #E6F3E6;
    padding: 15px;
}

.main_m3 {
    /* border: 1px solid yellow; */
    font-size: 40px;
    line-height: 1.35;
    letter-spacing: -0.4px;
    margin-bottom: 24px;
    margin-left: 250px;
}

.main_t3 {
    /* border: 1px solid violet; */
    font-size: 15px;
    margin: 0px;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin-left: 250px;
}

.circle {
    margin-top: 40px;
    padding-left: 250px;
    display: flex;
}

.circle_t {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin: 16px 0 8px;
}

.circle_t1 {
    font-size: 13px;
    line-height: 1.5;
}

.circle_l {
    margin: 16px 40px 16px 0px;
}


.main_img3 {
    position: absolute;
    right: 250px;
    top: 1700px;
}

.main_mmmm {
    /* border: 1px solid red; */
    width: 100%;
    height: 855px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.main_img4 {
    position: absolute;
    left: 250px;
}

.main_m4 {
    /* border: 1px solid yellow; */
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: -0.4px;
    margin-bottom: 32px;
    margin-left: 550px;
}

.main_t4 {
    /* border: 1px solid violet; */
    font-size: 15.5px;
    margin: 0px;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin-left: 590px;
}

.chat4 {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    background: rgba(229, 229, 229, 0.378);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


.chat4:hover {
    background: rgba(215, 215, 215, 0.421);
}

.main_b4 {
    padding-left: 500px;
    padding-top: 30px;
}

.main_mmmmm {
    /* border: 1px solid red; */
    width: 100%;
    height: 1087px;
    margin: auto;
    padding: 60px 0px;
    background-color: #F8F9FA;
}

.main_m5{
    font-size: 40px;
    margin: 0px 0px 80px;
    padding-top: 50px;
    text-align: center;
}

.list_wrap {
    width: 1024px;
    margin: 0 auto;
}
.list_f{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
}

.nemo {
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.list_t {
    font-size: 16px;
    margin: 0px 0px 5px;
    cursor: pointer;
}

.list_t2 {
    font-size: 15px;
    margin: 0px 0px 5px;
    font-weight: bold;
    cursor: pointer;
}

.list_t3 {
    font-size: 13px;
    margin: 0px 0px 5px;
    cursor: pointer;
}

.list_t4 {
    font-size: 13px;
    color: #868e96;
    cursor: pointer;
}

.line_t {
    /* border: 1px solid red; */
    font-size: 16px;
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.footer1 {
    /* border: 1px solid red; */
    width: 100%;
    height: 136px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.358);
    padding: 20px;
}

.footer_c {
    margin: 40px 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-right: 40px;
}

.line_h {
    font-size: 16px;
    text-decoration: none;
    color: #212529;
    margin: 16px 32px 16px 16px;
}
.line_h:hover {
    text-decoration: underline;
}

footer {
    /* border: 1px solid red; */
    width: 100%;
    height: 628px;
    box-sizing: border-box;
    padding: 0px 16px
}

.footer2 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.358);
    width: 50%;
    height: 353px;
    padding: 48px 0px;
    margin-left: auto;
    margin-right: auto;
}
.footer2_r {
    float: right;
}
.right {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer_b1 {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    width: 147px;
    height: 44px;
    border: 0px;
    border-radius: 10px;
    background: rgba(229, 229, 229, 0.378);
    margin-right: 5px;
    cursor: pointer;
}

.footer_b1:hover {
    color: rgb(152, 152, 152);
}

.footer2_lf {
    display: inline-flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer2_u {
    margin-bottom: 30px;
}

.line_h1 {
    font-size: 14px;
    text-decoration: none;
    color: #212124;
}

.line_h1:hover {
    text-decoration: underline;
}

.footer3 {
    width: 50%;
    height: 274px;
    padding: 24px 0px 100px;
    margin-left: auto;
    margin-right: auto;
}

.footer3_r {
    float: right;    
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}


.footer3_e {
    font-size: 13px;
    color: #868B94;
}

.hi {
    width: 2;
    height: 10;
    fill: none;
}

.footer3_lf {
    display: inline-flex;
}

.footer3_u {
    margin-top: 15px;
    margin-right: 15px;
}

.line_h3 {
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    color: #868B94;
}

.footer3_lv {
    display: inline-flex;
}

.line_h3:hover {
    text-decoration: underline;
}

.line_h3a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;
    color: #4D5159;
}


/* label {
    color: #868b94;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
} */

select {
    border: none;
    background-color: #ffff;
    color: #868b94;
    padding-left: 0.4rem;
    text-indent: 0.1rem;
    -webkit-appearance: none;
    cursor: pointer;
}

._1trxeqsm {
    margin-right: 10px;
}

.earth {
    color: rgba(148, 148, 148, 0.929);
    display: flex;
    align-items: center;
    cursor: pointer;
}